In [1]:
import numpy as np
import pandas as pd
import spacy
from spacy.lang.en import English
nlp = spacy.load('en_core_web_sm')
nlp.entity

spacy.load('en_vectors_web_lg')
#spacy.load('en_core_web_md')
#

# spacy.explain('tag') will explain tags

In [2]:
NLPdf = pd.read_csv('DataForNLP.csv') # read in the file
#NLPdf = NLPdf.T
NLPdf.shape

(365, 7)

In [3]:
NLPdf.head() # it's loaded in!

,Q3,Q4,Q5,Q6,Q7,Q8,Q37
0,4.0,2,"1,6,7",1,8,3,"Keep the videos short, keep extra example outs..."
1,4.0,4,6,1,7,3,It was very time consuming.\nI believe it is t...
2,3.0,4,3,3,8,3,Horrible experience. I am seriously considerin...
3,3.0,4,6,1,7,3,1 needed new equipment paid for by me\nhad to...
4,3.0,4,5,1,4,3,I was familiar with Zoom from video conferenci...

In [5]:
Q37 = np.array([1,365])
Q37 = NLPdf['Q37'] # slicing offf and naming the free text column
print(len(Q37))
print(type(Q37))

365
<class 'pandas.core.series.Series'>

In [6]:
Q37.head() # hey look, it works!

0    Keep the videos short, keep extra example outs...
1    It was very time consuming.\nI believe it is t...
2    Horrible experience. I am seriously considerin...
3    1 needed new equipment paid for  by me\nhad to...
4    I was familiar with Zoom from video conferenci...
Name: Q37, dtype: object

In [7]:
print(len(Q37))
print(Q37.shape)

365
(365,)

In [ ]:
# Q37 = Q37.tolist() nope, makes all responses into a single list item
# Xarr = np.arange(365) # array for graphing against later
# Xarr = Xarr.reshape(1,365) # reshaping into column array

In [ ]:
# can I iterate over each row of !37 with spaCy's nlp?
# testing
#for i in Q37:
#    print([i])
#print(Q37)  
#Q37 = Q37.reshape(1,365)
#print(Q37[:,5])

#for i in Q37:
#    doc = nlp(Q37)
#    for token in doc:
#        print(token.text)

In [12]:
Q37list = [0 for i in range(365)]
print(len(Q37list))

365